<ion-header translucent>
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="rolls.length > 0; else vazio">
    <ion-item *ngFor="let roll of rolls">
      <ion-label>
        <h2>Resultado: {{ roll.rollResult }}</h2>
        <p>Dado: {{ roll.dado || 'd6' }}</p>
        <p>Data: {{ roll.data | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #vazio>
    <ion-text color="medium">Nenhuma rolagem encontrada.</ion-text>
  </ng-template>
</ion-content>
